Package: com.r3st1t0u.order65
Name: Order 65 for Yalub3
Depends: mobilesubstrate, com.r3st1t0u.substratefix
Conflicts:
Version: 1.5
Architecture: iphoneos-arm
Description: The package automatically enables substrate when running mach_portal jailbreak. This is beta software. I will try to provide support, but expect some bugs. Should bugs arise, please alert me of the issue calmly so that I may fix it. I try to reply to everyone, but even if I don't, I read it all and consider the messages for future updates. Fixes some issues with LaunchDaemons that sometimes occur on devices particularly with few tweaks. Follow me on twitter @r3st1t0u. If you'd like to buy me a coffee, use paypal.me/r3st1t0u to donate!
Maintainer: r3st1t0u (Ben Weaver)
Author: r3st1t0u (Ben Weaver)
Section: System
